/*
* Marko Idzan CSS Framework v0.1
* Copyright 2016, Marko Idzan
* Free to use under the GNU GPLv3
* https://www.gnu.org/licenses/gpl-3.0.txt
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.col {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}
@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    .col {
        margin-left: 4%;
    }
    .col:first-child {
        margin-left: 0;
    }

    .one.col {
        width: 4.66666666667%;
    }
    .two.col {
        width: 13.3333333333%;
    }
    .three.col {
        width: 22%;
    }
    .four.col {
        width: 30.6666666667%;
    }
    .five.col {
        width: 39.3333333333%;
    }
    .six.col {
        width: 48%;
    }
    .seven.col {
        width: 56.6666666667%;
    }
    .eight.col {
        width: 65.3333333333%;
    }
    .nine.col {
        width: 74.0%;
    }
    .ten.col {
        width: 82.6666666667%;
    }
    .eleven.col {
        width: 91.3333333333%;
    }
    .twelve.col {
        width: 100%;
        margin-left: 0;
    }
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; 
}




/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.full-width {
  width: 100%;
  box-sizing: border-box; }
.max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.pull-right {
  float: right; }
.pull-left {
  float: left; }



/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 40rem) {}

@media (min-width: 80rem) {}

@media (min-width: 120rem) {}
